<% layout('layout/main') -%>
<% block('title', 'О блоге') -%>


<div class="container">
  <h1 class="blog-heading top-m">О блоге</h1>

  <p class="w-75 mx-auto text-center">Данный блог посвящен информационным технологиям.</p>

    <h3 class="mt-4 mb-4">Обзор последних новостей и трендов в информационных технологиях, таких как развитие искусственного интеллекта, интернета вещей, облачных вычислений и т.д.</p>


</div>
