<% layout('layout/main') -%>
<% block('title', 'Контакты') -%>



    <div class="container">
      <h1 class="blog-heading top-m">Контакты</h1>

      <p class="w-75 mx-auto text-center">Привет это Евгений, и Вы находитесь в блоге про информационные технологии, где я буду публиковать свои заметки и статьи из мира ИТ</p>

        <h3 class="mt-4 mb-4">Мои контакты на просторах Интернет</h3>
        <p>электронная почта: e_legotin@mail.ru</p>

        <h3 class="mt-4 mb-4">Еще немного обо мне</h3>

      <a href="https://vk.com/">Посетите мою стриничку в социалной сети ВКонтакте</a> <br>

      <a href="https://dzen.ru/">Посетите мою стриничку в Дзен</a>
    </div>
